@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.ttf');
}

@font-face {
  font-family: 'Permanent Marker';
  src: url('../fonts/PermanentMarker-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

body {
  margin: 0;
  background-color: #ffffff;
}

.main-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 30vw;
  margin-bottom: 10px;
}

.header h1 {
  margin: 10px 0;
  font-family: 'Permanent Marker';
  font-size: 40px;
  color: #000000;
}

.header p {
  margin: 0;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 800;
  color: #000000;
}

.header a {
  font-family: 'Roboto';
  font-size: 17px;
  color: #8338ec;
}

.avatar {
  width: 3vw;
  height: 3vw;
  margin-right: 10px;
  border-radius: 50%;
  background-image: url('../img/avatar/avatar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flex-wrap {
  display: flex;
}

.flex-inner-wrap {
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post {
  width: 30vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.post-header {
  margin: 10px 0 0 0;
  font-family: 'Montserrat';
  font-size: 36px;
  color: #8338ec;
}

.date {
  margin: 10px 0;
  font-family: 'Roboto';
  font-size: 12px;
  color: #000000;
}

.post-img {
  width: 30vw;
  height: 18vw;
}

.post-text {
  font-family: 'Roboto';
  font-size: 17px;
  text-align: justify;
  color: #000000;
}